name: Release

on: [push, pull_request]

jobs:
  run_checks:
    name: Run Checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK
        id: setup_jdk
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Gradle packages
        id: cache_gradle_packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Run Gradle Check
        id: run_gradle_check
        run: ./gradlew check
      - name: Run Gradle Check Source Formatting
        id: run_gradle_check_source_formatting
        run: ./gradlew checkSourceFormatting
